body {
   background-color: rgb(200, 217, 197); 
}

h3{
    text-align: center;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
}

#title{
    text-align: center;
}

#img-div{
    background-color: white;
    width:80%; 
    display:block;
    margin:auto;

}

#image1{
    width: 90%;
    display: block;
    margin: auto;
}

#tribute-info{
    width: 50%;
    display:block;
    margin:auto;
    /* text-align: center; */
}

